<div ng-if="!$ctrl.loading">
  <div ng-hide="$ctrl.reconciling">
    <!-- <transac-txs-controls></transac-txs-controls> -->
    <transac-tx transaction="transaction" ng-repeat="transaction in $ctrl.transactions track by transaction.transaction_log.id" on-commit="$ctrl.onTransactionCommit($event)" on-reconcile="$ctrl.onReconcileTransactions($event)"></transac-tx>
  </div>
  <div ng-if="$ctrl.reconciling">
    <transac-tx-reconcile transaction="$ctrl.reconcileData.transaction" matches="$ctrl.reconcileData.matches" apps="$ctrl.reconcileData.apps" on-reconciled="$ctrl.onTransactionReconciled($event)"></transac-tx-reconcile>
  </div>
</div>
<div ng-if="$ctrl.loading">
  <p>Loading Transactions...</p>
</div>
