<div class="tx-tile" ng-class="{ 'deselected': $ctrl.deselected, 'selected': $ctrl.checked }">
  <div class="tx-tile_topbar row no-gutters" ng-class="{'no-click': !$ctrl.isOnSelectDefined()}" ng-click="$ctrl.onSelectTx()">
    <div class="tx-tile_topbar_checkbox" ng-if="$ctrl.isOnSelectDefined()">
      <input type="checkbox" ng-checked="$ctrl.checked" disabled>
    </div>
    <div class="tx-tile_topbar_text">
      <h5>{{::$ctrl.title}}</h5>
      <div class="tx-tile_topbar_text_subtitle">
        <p>{{::$ctrl.subtitle}}</p>
      </div>
    </div>
  </div>
  <transac-tx-changes changes="::$ctrl.formattedTxAttrs"></transac-tx-changes>
</div>
