<div class="tx-tile">
  <div class="tx-tile_topbar row no-gutters" ng-class="{'no-click': !$ctrl.isOnSelectDefined()}" ng-click="$ctrl.onSelectTx()">
    <div class="tx-tile_topbar_checkbox" ng-if="$ctrl.checked">
      <input type="checkbox" ng-checked="$ctrl.checked">
    </div>
    <div class="tx-tile_topbar_text">
      <h5>Transaction</h5>
      <span>From {{::$ctrl.transaction.app_name}}</span>
    </div>
  </div>
  <transaction-changes changes="::$ctrl.transaction.formatted"></transaction-changes>
</div>
