transac-tx-tile {
  box-shadow: @transac-tx-tile-box-shadow;
  border: 1px solid @transac-grey;

  .tx-tile {
    width: 100%;
  }

  .tx-tile_topbar {
    height: 60px;
    border-bottom: 1px solid @transac-grey;
    &.no-click {
      cursor: default;
    }
  }

  .tx-tile_topbar_checkbox {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 16px;
  }

  .tx-tile_topbar_text {
    text-align: center;

    h5 {
      font-size: 17px;
      margin-bottom: 2px;
    }
  }
  .tx-tile_topbar_text_subtitle {
    margin: 0 50px;
    p {
      .transac-subtitle();
      .transac-ellipsis();
    }
  }
}
