transac-tx-reconcile {
  display: block;
  background-color: white;
  box-shadow: 0px 1px 8px -4px;

  .top-panel {
    position: relative;
    margin-bottom: 15px;
  }

  .top-panel_title {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    padding-top: 20px;
  }

  .top-panel_btn--back {
    .transac-action-button-labeled--label-right(@transac-darkgrey);
  }

  .top-panel_btn--next {
    .transac-action-button-labeled--label-left(@transac-darkgrey);
  }

  .top-panel_btn--done {
    .transac-action-button-labeled--label-left(@transac-green, @transac-green);
    span {
      font-weight: bold;
    }
  }

  .top-panel_btn--align-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .edit_tx {
    display: flex;
    flex-wrap: wrap;

    transac-tx-tile {
      flex: 1;
      min-width: 48%;
      max-width: 48%;
      margin: 1%;

      @media (max-width: 992px) {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
      }
    }
  }

  .review_tx {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    transac-tx-tile {
      flex: 1;
      min-width: 50%;
      max-width: 50%;

      @media (max-width: 992px) {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }

}
