<div class="top-panel">
  <button class="top-panel_action-btns" ng-click="$ctrl.back()">
    <i class="fa fa-angle-double-left fa-2x"></i>
  </button>
  <div class="top-panel_title">
    <span>Reconcile duplicate records</span>
  </div>
  <button class="top-panel_action-btns right-align" ng-if="$ctrl.editing" ng-click="$ctrl.next()">
    <i class="fa fa-angle-double-right fa-2x"></i>
  </button>
</div>
<div class="edit" ng-show="$ctrl.editing">
  <div class="edit_txs">
    <transaction-tile ng-repeat="tx in ::$ctrl.transactions track by tx.id" transaction="::tx" checked="$ctrl.isTxChecked(tx)" on-select="$ctrl.onSelect($event)"></transaction-tile>
  </div>
</div>
<div class="review" ng-hide="$ctrl.editing">

  <button class="review_done-btn" ng-if="!$ctrl.editing" ng-click="$ctrl.publish()">Done</button>
</div>
