transaction-reconcile {
  display: block;
  background-color: white;
  box-shadow: 0px 1px 8px -4px;

  .top-panel {
    position: relative;
    margin-bottom: 15px;
  }

  .top-panel__title {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    padding-top: 20px;
  }

  .top-panel__action-btns {
    position: absolute;
    .transac-action-button(black);
    margin: 10px;
    &:hover {
      background-color: @transac-grey;
    }
    &.right-align {
      top: 0;
      right: 0;
    }
  }

  .edit__transactions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .edit__transactions__transaction {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px;
    box-shadow: @reconcile-transaction-tile-box-shadow;
    border: 1px solid @transac-grey;
  }
}
