transaction-reconcile {
  display: block;
  background-color: white;
  box-shadow: 0px 1px 8px -4px;

  .top-panel {
    position: relative;
    margin-bottom: 15px;
  }

  .top-panel_title {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    padding-top: 20px;
  }

  .top-panel_action-btns {
    position: absolute;
    .transac-action-button(black);
    margin: 10px;
    &:hover {
      background-color: @transac-grey;
    }
    &.right-align {
      top: 0;
      right: 0;
    }
  }

  .edit_txs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  transaction-tile {
    display: flex;
    flex-grow: 1;
  }
}
