<div class="top-panel">
  <div class="top-panel-btn top-panel_btn--back" ng-click="$ctrl.back()">
    <div class="action-button"><i class="fa fa-angle-double-left fa-2x"></i></div>
    <span class="action-label">Back</span>
  </div>
  <div class="top-panel_title">
    <span>Reconcile duplicate records</span>
  </div>
  <div class="top-panel-btn top-panel_btn--next top-panel_btn--align-right" ng-if="$ctrl.isNextBtnShown()" ng-click="$ctrl.next()">
    <span class="action-label">Next</span>
    <div class="action-button"><i class="fa fa-angle-double-right fa-2x"></i></div>
  </div>
  <div class="top-panel-btn top-panel_btn--done top-panel_btn--align-right" ng-if="!$ctrl.editing" ng-click="$ctrl.publish()">
    <span class="action-label">Publish</span>
    <div class="action-button"><i class="fa fa-check fa-2x"></i></div>
  </div>
</div>
<div class="edit" ng-show="$ctrl.editing">
  <div class="edit_tx">
    <transac-tx-tile  ng-repeat="tx in ::$ctrl.transactions track by tx.id" transaction="::tx" checked="$ctrl.isTxChecked(tx)" deselected="$ctrl.isTxDeselected(tx)" on-select="$ctrl.onSelect($event)"></transac-tx-tile>
  </div>
</div>
<div class="review" ng-if="!$ctrl.editing">
  <div class="review_tx">
    <transac-tx-tile transaction="::$ctrl.selectedTx" checked="true" title="::$ctrl.selectedTxTitle" subtitle="::$ctrl.selectedTxSubtitle"></transac-tx-tile>
  </div>
</div>
