<div class="filters-selector">
  <div class="btn-group" uib-dropdown on-toggle="$ctrl.toggleSelector(open)" auto-close="outsideClick">
    <button id="filters-selector_selector-btn" type="button" class="btn btn-primary" ng-class="{ 'disabled': $ctrl.isDisabled }" ng-click="$ctrl.toggleSelector()" uib-dropdown-toggle>
      <i class="fa fa-filter fa-2x fa-fw" aria-hidden="true"></i>
    </button>
    <ul class="dropdown-menu filters-selector_selector-dropdown" uib-dropdown-menu role="menu" aria-labelledby="filters-selector_selector-btn">
      <li role="{{!item.divider ? 'menuitem' : ''}}" ng-repeat="item in $ctrl.filtersMenu" ng-class="{ 'divider': item.divider }">
        <a href="" ng-if="!$ctrl.divider" ng-class="{ 'selected': item.selected }" ng-click="$ctrl.applyFilterOnClick(item)">{{item.label}}</a>
      </li>
    </ul>
  </div>
</div>
