/*
** Transac! Global Classes
*/



/*
** Bootstrap overrides / class customisations
*/

// Remove borders from Bootstrap table
.table.borderless td, .table.borderless th {
  border: none;
}

// remove gutters from Boostrap row
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

// remove gutters from Boostrap column
[class^="col-"].no-gutters,
[class*=" col-"].no-gutters {
  padding-right: 0;
  padding-left: 0;
}
