.transac-list-on-hover(@color: @transac-lightgrey) {
  &:hover {
    background-color: @color;
  }
}

.transac-action-button(@color: @transac-blue, @margin: 1px) {
  color: @color;
  border: none;
  padding: 10px 18px;
  margin: @margin;
  max-width: 60px;
  background-color: inherit;
  &:hover {
    color: lighten(@color, 15%);
  }
}

.transac-sub-heading(@font-size: 13px, @color: lighten(@transac-darkgrey, 15%)) {
  font-size: @font-size;
  color: @color;
}

.transac-heading(@font-size: 14px, @font-weight: bold) {
  font-size: @font-size;
  font-weight: @font-weight;
  text-transform: capitalize;
}

.transac-table() {
  table {
    width: 100%;
  }
  tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    border: 1px solid rgba(3,3,3,0.2);
  }
  td, th {
    flex: 1 1 150px;
    border: 0.5px solid rgba(3,3,3,0.2);
  }
}

.transac-ellipsis() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
