// color palette
@transac-darkgrey: #676767;
@transac-grey: #d9d9d9;
@transac-lightgrey: #f2f2f2;
@transac-green: #29b528;
@transac-red: #d41414;
@transac-orange: #ffb032;

// top-bar component
@top-bar-background-color: white;
@top-bar-menu-item-color: rgba(0,0,0,0.54);
@top-bar-border: 1px solid @transac-lightgrey;
@top-bar-box-shadow: 0px 1px 8px -4px;
@top-bar-menu-item-active-border-bottom: 2px solid black;

// transactions component

// transaction component
@transaction-height: 60px;
@transaction-background-color: white;
@transaction-approve-color: @transac-green;
@transaction-deny-color: @transac-red;
@transaction-duplicate-color: @transac-darkgrey;
@transaction-hover-background-color: @transac-lightgrey;
@transaction-duplicate-warning-color: lighten(@transac-darkgrey, 15%);
@transaction-details-duplicate-warning-color: @transac-orange;
