transac-tx {
  display: block;
  background-color: @transac-tx-background-color;

  .transac-list-on-hover(@transac-tx-hover-background-color);

  &.commiting {
    display: none;
    // TODO: work on an enjoying animation for this action
  }

  .selected {
    box-shadow: 0px 5px 10px -4px;
    border-bottom: 1px solid @transac-lightgrey;
    .summary {
      background-color: @transac-tx-hover-background-color;
      border-bottom: 2px solid @transac-grey;
    }
  }

  .summary {
    height: @transac-tx-height;
    width: 100%;
    display: flex;
  }

  .summary_content {
    height: 100%;
    display: flex;
    flex-grow: 30;
    align-items: center;
    padding: 0px 10px;
    color: inherit;
    text-decoration: none;
  }

  .summary_content_icon {
    padding: 0 10px;
  }

  .summary_content_caption {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .summary_content_caption_title {
    .transac-title();
  }

  .summary_content_caption_subtitle {
    .transac-subtitle();
  }

  .summary_content_warning {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    color: @transac-tx-duplicate-warning-color;
    span { font-size: 13px; }
  }

  .summary_actions {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
  }

  .summary_actions_action--approve {
    .transac-action-button(@transac-tx-approve-color);
  }

  .summary_actions_action--deny {
    .transac-action-button(@transac-tx-deny-color);
  }

  .detail {
    padding: 0 15px;
    background-color: white;
  }

  .detail_dup-line-break {
    display: flex;
  }
  .detail_dup-line-break_spacer {
    display: flex;
    border-bottom: 2px solid @transac-grey;
    height: 12px;
  }
  .detail_dup-line-break_title {
    padding: 0px 12px;
    color: @transac-tx-details-duplicate-warning-color;
    i { padding: 0 3px }
  }
  .detail_dup-line-break_spacer--left {
    flex-grow: 1;
  }
  .detail_dup-line-break_spacer--right {
    flex-grow: 2.5;
  }

  .detail_section {
    max-height: 180px;
    min-height: 180px;
    overflow: auto;
  }

  .detail_section_title {
    padding-left: 10px;
    h5 {
      .transac-subtitle();
    }
  }

  .detail_section_app {
    display: flex;
    padding: 10px;
    .transac-list-on-hover(@transac-tx-hover-background-color);
    span {
      display: flex;
      flex-grow: 1;
    }
    input {
      display: flex;
    }
  }

  .detail_section_action_approve {
    .transac-action-button-labeled--label-left(@transac-tx-approve-color);
  }

  .detail_section_action_deny {
    .transac-action-button-labeled--label-left(@transac-tx-deny-color);
  }

  .detail_section_action_duplicate {
    .transac-action-button-labeled--label-left(@transac-tx-duplicate-color);
  }

  .detail_section_action {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    div.action-button {
      padding: 0 0 0 10px;
    }
  }

  .detail_section_matches {
    min-height: 70px;
    max-height: 120px;
  }

}
