<div class="summary" ng-class="{ 'selected': $ctrl.isSelected }">
  <a href="" class="summary-title" ng-click="$ctrl.selectOnClick()">
    <span>{{::$ctrl.title()}}</span>
  </a>
  <div class="summary-actions">
    <button type="button" class="summary-actions-deny" ng-click="$ctrl.commitOnClick()">
      <i class="fa fa-times fa-2x"></i>
    </button>
    <button type="button" class="summary-actions-approve" ng-click="$ctrl.denyOnClick()">
      <i class="fa fa-check fa-2x"></i>
    </button>
  </div>
</div>
<div class="detail" ng-if="$ctrl.isSelected">
  <div class="row">
    <div class="col-md-6 detail-section no-gutters">
      <table class="table table-striped borderless">
        <tr ng-repeat="(key, value) in $ctrl.changes track by $index">
          <td>{{::key}}</td>
          <td>{{::value}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3 detail-section no-gutters">
      <div class="detail-section-title">
        <h5>Select apps to share with:</h5>
      </div>
      <div type="button" class="detail-section-app" ng-repeat="mapping in $ctrl.transaction.mappings track by mapping.group_id" ng-click="$ctrl.selectAppOnClick($event, mapping)">
        <span>{{::mapping.app_name}}</span>
        <input type="checkbox" ng-checked="mapping.commit">
      </div>
    </div>
    <div class="col-md-3 detail-section no-gutters"></div>
  </div>
</div>
