transaction {
  display: block;
  background-color: @transaction-background-color;

  .transac-list-on-hover(@transaction-hover-background-color);

  .summary {
    height: @transaction-height;
    width: 100%;
    display: flex;
    &.selected {
      background-color: @transaction-hover-background-color;
      border-bottom: 2px solid darken(@transac-lightgrey, 10%);
    }
  }

  .summary-title {
    width: 87%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
  }

  .summary-actions {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 2;
  }

  .summary-actions-action--approve {
    .transac-action-button(@transaction-approve-color);
  }

  .summary-actions-action--deny {
    .transac-action-button(@transaction-deny-color);
  }

  .detail {
    padding: 0 15px;
    background-color: white;
  }

  .detail-section {
    max-height: 180px;
    height: 180px;
    overflow: auto;
  }

  .detail-section-title {
    text-align: center;
    h5 {
      .transac-sub-heading();
    }
  }

  .detail-section-app {
    display: flex;
    padding: 10px;
    .transac-list-on-hover(@transaction-hover-background-color);
    span {
      display: flex;
      flex-grow: 1;
    }
    input {
      display: flex;
    }
  }

  .detail-section-action {
    display: flex;
    align-items: center;
    span {
      text-align: right;
      display: flex;
      flex-grow: 1;
      flex-direction: row-reverse;
      margin-right: 5px;
      .transac-sub-heading();
    }
  }

  .detail-section-action--approve {
    margin-top: 10px;
    button {
      .transac-action-button(@transaction-approve-color);
    }
  }

  .detail-section-action--deny {
    button {
      .transac-action-button(@transaction-deny-color);
    }
    .fa-ban {
      font-size: 23px;
    }
  }

  .detail-section-action--duplicate {
    button {
      .transac-action-button(@transaction-duplicate-color);
    }
  }

}
